<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Document {% endblock %}</title>
</head>
<body>
    {% block header %}
    {% include 'base/header.html' %}
    <h4>Este es el bloque header base</h4>
    {% endblock %}

    {% block content %}
    <h5>Este es el contenido del archivo base</h5>
    {% endblock %}

    {% block footer %}
    <h5>footer del archivo base</h5>
    {% endblock %}

</body>
</html>